body {
    background-color: #DFF;
    text-align: center;
}
h1 {
    color:#0814bde5;
}

nav {
    
    background-color: cyan;
    padding: 10px 0px 10px 0px;
   
}

#footer {
    background-color: cyan;
    position: relative;
    padding: 10px 0px 10px 0px;
    bottom: 0px;
    width: 100vw;
    max-width: 100%;
    
}

